/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
html, body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Add background color with transparency */
    z-index: 1000; /* Ensure navigation stays above other content */
}

.nav-menu {
    list-style: none;
    margin-right: 20%;
    text-align: right;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
    color: #f06c64; /* Change the color on hover */
}

/* Header styles */
header {
    background-image: url('bg.jpeg'); /* Replace 'bg.jpeg' with your actual background image URL */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.logo {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
}

.logo img {
    width: 150px;
}

.left h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; /* Optional: Make the text uppercase */
    text-shadow: 0 0 10px red, 0 0 10px red, 0 0 20px white, 0 0 20px white, 0 0 30px black, 0 0 30px black; /* Mix of red, white, and black text shadow */
}

/* Button styles */
.neon-button {
    background-color: #f06c64;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
}

.neon-button:hover {
    background-color: #ff897d;
}

/* Icon section styles */
.icon {
    text-align: center;
    margin-top: 30px;
}

.icon img {
    width: 80px;
    margin: 0 15px;
    transition: transform 0.4s ease-in-out;
}

.icon img:hover {
    transform: scale(1.1);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    nav {
        padding: 0 20px;
    }

    .nav-menu {
        text-align: center;
        margin-top: 20px;
    }

    .nav-menu li {
        display: block;
        margin: 10px 0;
        float: none;
    }

    .left h1 {
        font-size: 36px;
        margin-top: 100px; /* Adjust the top margin for smaller screens */
    }
}
